# Eclipse
.classpath
.project
.settings/

# Intellij
/.idea/*
*.iml
*.iws
!/.idea/dictionaries/
!/.idea/dictionaries/*
!/.idea/codeStyles/
!/.idea/codeStyles/*

# Mac
.DS_Store

# Maven
/log/
/target/

#Game specific
/storage/